In [1]:
import numpy as np
emp= np.array([
    [1000,'Torbati','Yolanda','F','rogrammer'],
    [1001,'Klien','joel','M','rogrammer'],
    [1002,'Ginsburg','Laura','F','president'],
    [1003,'Cox','jennifer','F','programmer'],
    [1005,'Ziada','Mauri','M','product Designer'],
    [1006,'Keyser','cara','F','Account executive'],
    [1010,'Smith','Roxie','M','programmer'],
    [1011,'Nelson','robert','M','programmer'],
    [1012,'Sachsen','Lars','M','Support Technician'],
    [1013,'Shannon','Don','M','product Designer']
])
print(emp)

[['1000' 'Torbati' 'Yolanda' 'F' 'rogrammer']
 ['1001' 'Klien' 'joel' 'M' 'rogrammer']
 ['1002' 'Ginsburg' 'Laura' 'F' 'president']
 ['1003' 'Cox' 'jennifer' 'F' 'programmer']
 ['1005' 'Ziada' 'Mauri' 'M' 'product Designer']
 ['1006' 'Keyser' 'cara' 'F' 'Account executive']
 ['1010' 'Smith' 'Roxie' 'M' 'programmer']
 ['1011' 'Nelson' 'robert' 'M' 'programmer']
 ['1012' 'Sachsen' 'Lars' 'M' 'Support Technician']
 ['1013' 'Shannon' 'Don' 'M' 'product Designer']]

In [2]:
male_count=np.sum(emp[:,3]=='M')
print('number of male employee:',male_count)

number of male employee: 6

In [3]:
starts = [row for row in emp if row[1].startswith('S')]

for employee in starts:
    print("Last Name:", employee[1])
    print()

Last Name: Smith

Last Name: Sachsen

Last Name: Shannon

In [4]:
female= emp[emp[:,3]=='F']
print(female)
sort_female=female[np.argsort(female[:, 2])[::-1]]
for employee in sort_female:
    print("Employee ID:", employee[0])
    print("Last Name:", employee[1])
    print("First Name:", employee[2])
    print("Gender:", employee[3])
    print("Position:", employee[4])

[['1000' 'Torbati' 'Yolanda' 'F' 'rogrammer']
 ['1002' 'Ginsburg' 'Laura' 'F' 'president']
 ['1003' 'Cox' 'jennifer' 'F' 'programmer']
 ['1006' 'Keyser' 'cara' 'F' 'Account executive']]
Employee ID: 1003
Last Name: Cox
First Name: jennifer
Gender: F
Position: programmer
Employee ID: 1006
Last Name: Keyser
First Name: cara
Gender: F
Position: Account executive
Employee ID: 1000
Last Name: Torbati
First Name: Yolanda
Gender: F
Position: rogrammer
Employee ID: 1002
Last Name: Ginsburg
First Name: Laura
Gender: F
Position: president